.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #ff0404;
}

table {
  color: rgb(0, 0, 0);
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #c4c4c4;
}

.header-row {
    background: #34495E;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}